
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  width: 100%;
  min-height:100% ;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boxes{
  background: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(57, 57, 57);
  outline: 3px solid rgb(57, 57, 57);
  
  border: 0px;
}
.board{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  width: 20vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top:10vh;
}
.winner{
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-block: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
}
div{
  color: rgb(57, 57, 57);
}
.button-grp{
  width: 20vw;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content:end;
}
.btns{
  margin-inline: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  padding-inline: 10px;
  background-color: transparent;
  color: green;
  
  border: double green 2px;
  border-radius: 3px;
}
.main{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  margin: 0;
 
}
/* Toggle switch css */
.switch {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.dark{
  background-color: rgb(35, 39, 47);
  outline-color: white;
  color: white;
}

button .answers{
  background-color: green ;
}
